@media (min-width: 800px) {
    body {
        margin: 0;
    }
    .container {
        position: relative;
        width: 100%;
        height: 5px;
    }

    .img-wrapper {
        display: grid;
        height: 100vh;
    }
    
    .img-wrapper div {
        grid-column: 1;
        grid-row: 1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--gray);
        transition: opacity .1s;
    }

    .content {
        margin: 0;
        padding: 5px;
        position: relative;
        opacity: 0.5;
        transition: opacity .5s .3s ease-out;
        height: 100vh;
    }

    .content::before {
        content: "";
        background-color: #cccccc;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.50;
        transition: opacity 1s;
    }

    .content.is-visible {
        opacity: 1;
    }

    .heading {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-weight: bold;
        color: rgb(0, 255, 242);;
    }

    header {
        opacity: 0;
        transition: opacity .5s .3s ease-out;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        display: flex;
        transform: translate(-50%, -50%);
    }

    .surveyBox {
        border: 3px solid green;
        border-radius: 10px;
        padding: 20px;
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (max-width: 799px) {
    body {
        margin: 0;
    }
    .container {
        position: relative;
        width: 100%;
        height: 5px;
    }

    .img-wrapper {
        display: grid;
        height: 100vh;
    }
    
    .img-wrapper div {
        grid-column: 1;
        grid-row: 1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--gray);
        transition: opacity .1s;
    }

    .content {
        margin: 0;
        padding: 5px;
        position: relative;
        opacity: 0.5;
        transition: opacity .5s .3s ease-out;
        height: 100vh;
    }

    .content::before {
        content: "";
        background-color: #cccccc;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.50;
        transition: opacity 1s;
    }

    .content.is-visible {
        opacity: 1;
    }

    .heading {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-weight: bold;
        font-size: 20px;
        color: rgb(0, 255, 242);;
    }

    header {
        opacity: 0;
        transition: opacity .5s .3s ease-out;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        display: flex;
        transform: translate(-50%, -50%);
    }

    .surveyBox {
        border: 3px solid green;
        border-radius: 10px;
        padding: 20px;
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@media (max-width: 799px) and (min-height: 450px) {
    body {
        margin: 0;
    }
    .container {
        position: relative;
        width: 100%;
        height: 5px;
    }

    .img-wrapper {
        display: grid;
        height: 100vh;
    }
    
    .img-wrapper div {
        grid-column: 1;
        grid-row: 1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--gray);
        transition: opacity .1s;
    }

    .content {
        margin: 0;
        padding: 5px;
        position: relative;
        opacity: 0.5;
        transition: opacity .5s .3s ease-out;
        height: 100vh;
    }

    .content::before {
        content: "";
        background-color: #cccccc;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.50;
        transition: opacity 1s;
    }

    .content.is-visible {
        opacity: 1;
    }

    .heading {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-weight: bold;
        font-size: 25px;
        color: rgb(0, 255, 242);
    }

    header {
        opacity: 0;
        transition: opacity .5s .3s ease-out;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        display: flex;
        transform: translate(-50%, -50%);
    }

    .surveyBox {
        border: 3px solid green;
        border-radius: 10px;
        padding: 10px;
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}